// ------------------------------------------
// Colour Varibles 
// ------------------------------------------

$colour__primary--dark: #28394c;
$colour__primary: #2196F3;
$colour__primary--light:  #BBDEFB;

$colour__text: #FFFFFF;
$colour__text--primary: #212121;
$colour__text--secondary: #757575;

$colour__accent: #47b3e6;
$colour__accent--dark: #3890b9;
$colour__accent--x-dark: #3f97c1;

$colour__divider: #BDBDBD;
$colour__off-white: rgb(245, 245, 245);

$colour__icon: $colour__text;
$colour__icon--primary: $colour__text--primary;
$colour__icon--secondary: $colour__text--secondary;

$colour__background: white;
$colour__background--primary: $colour__text--primary;


// Accent Colours
$red: rgb(190,32,38); 
$blue: rgb(21,101,192);
$green: rgb(66,160,71);
$orange: rgb(255, 127, 0);

$warning : #df3339;
$active: $blue;
$published: $green;
$approved: $orange;
$warning-background: $orange;

// ------------------------------------------
// Spacing layout 
// ------------------------------------------

$gap-small: 8px;
$gap: 16px;
$gap-big: 32px;
$gap-bigger: 48px;

// ------------------------------------------
// Text
// ------------------------------------------

$text : 16px;
$text-small: 12px;
$text-smaller: ($text * 0.67);
$text-large: ($text * 1.27);
$text-larger: ($text * 1.67);
$text-largest: ($text * 2.1);

$font__family: 'Open Sans', Arial, sans-serif;


// ------------------------------------------
// Flex layout 
// ------------------------------------------

@mixin fxFlex($flex: flex) {
  display: -ms-flexbox; // IE 10
  display: -moz-box; // Moz
  display: -webkit-flex; // Safari
  display: $flex;
  >* {
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
}

@mixin fxGrow($grow: 0) {
  -webkit-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;  
}

@mixin fxJustify($value) {
  -ms-flex-pack: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin fxContent($value: center) {
  -ms-align-content: $value;
  -webkit-align-content: $value;
  align-content: $value;
}

@mixin fxAlign($value: center) {
  -ms-flex-align: $value;
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin fxDirection($value: column) {
  -ms-flex-direction: $value;
  -webkit-flex-direction: $value;
  flex-direction: $value;
}

@mixin fxWrap($value: wrap) {
  -ms-flex-wrap: $value;
  -webkit-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin fxCenter($value: auto) {
  margin: $value;
}
