@import 'base';

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: $font__family;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page__header {
  @include fxFlex;
  @include fxAlign;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 20px;

  background: $colour__off-white;

  img { 
    height: 50px;
    width: 50px;
  }

  span {
    margin-left: 15px;

    font-size: 14px;
    text-transform: uppercase;
  }

}

.page__content {
  display: block;
  width: 100%;
  text-align: center;
}

.content__wrapper {
  max-width: 860px;
  text-align: left;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
}

.page__footer {
  width: 100%;
  height: 200px;
  padding: 0 20px 0 20px;

  background: #1d1d1d;
  color: white;
}

.footer__box {
  @include fxFlex;
  @include fxDirection;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}


@media only screen and (max-width: 768px) {}
